@page "/"

<PageTitle>Главная</PageTitle>

<h1>Hello, world!</h1>
<p>Мы рады предложить Вам удобные инструменты для эффективного управления вашими проектами и документами.
	Наша платформа позволяет легко организовывать командную работу, разграничивать доступ к файлам и контролировать изменения.
</p>
<p>Будь Вы руководитель, менеджер или рядовой сотрудник - наш сервис поможет Вам оптимизировать рабочие процессы и повысить продуктивность.
	Создавайте, редактируйте и обсуждайте документы в режиме реального времени, приглашайте коллег к совместной работе и отслеживайте все изменения.
</p>
<p>
Благодаря гибкой системе ролей и прав доступа Вы можете настроить необходимые уровни безопасности для каждого пользователя. 
Администраторы получают расширенные возможности по управлению аккаунтами, группами и настройкам платформы.
</p>
